torch>=2.0.0
transformers>=4.40.0,<5.0.0
timm>=0.9.10,<1.0.0
Pillow>=10.0.0
numpy<1.27.0
matplotlib
tensorflow-datasets==4.9.3
tensorflow==2.17.0
tqdm
etils==1.5.2
apache-beam==2.59.0
protobuf>=3.20.3,<5.0.0
rlds
tensorflow-graphics
spacy>=3.7.0
